:root {
  --colorA: #333;
  --colorB: #555;
  --colorC: #222;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  overflow: hidden;
}

header h1 {
  text-align: center;
  background-color: var(--colorA);
  padding: 20px;
  margin: 0;
}

nav ul{
  display: flex;
  background-color: var(--colorB);
  justify-content: center;
  width: 100%;
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 5px 20px;
  border-radius: 10px;
}

nav a:hover {
  background-color: var(--colorA);
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;;
  transition: transform 0.5s ease-in-out;
}

main:hover {
  transform: scale(1.05);
}

table {
  text-align: center;
  border-spacing: 3px;
}

th {
  background-color: var(--colorC);
}

th, td {
  padding: 5px;
  border: 1px solid #000;
}

footer {
  font-size: 0.9em;
  text-align: center;
  background-color: var(--colorA);
  padding: 10px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

input, textarea {
  outline-color: transparent;
}

input:focus, textarea:focus {
  outline-color: #000;
  transition: outline-color 0.5s ease;
}

input[type="submit"] {
  text-align: center;
  color: #ffffff;
  border-color: transparent;
  background-color: #008CBA;
  cursor: pointer;
  transition: background-color 0.5s ease
}

input[type="submit"]:hover {
  border-color: transparent;
  background-color: #04AA6D;
  transition: background-color 0.5s ease;
}
/* Classes */
.card {
background-color: var(--colorA); 
border-radius: 8px;
padding: 20px 20px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
margin: 20px 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-5px) scale(1.02);
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.bgCols {
  background-color: var(--colorB);
}

/* Identifications */
#Contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}